/* form */
.form-group {
    margin-bottom: 15px
}

.form-message {
    display: none
}

.form-message.show {
    display: block
}

.custom-preloader {
    pointer-events: none;
    opacity: .5
}


form.submitting {
    pointer-events: none;
    opacity: .5;
}